@page
@model Tournament_Web_Application.Pages.IndexModel
@{
    ViewData["Title"] = "Home";
}

    <div class="content">
        <h1>Welcome in our page @User.Identity.Name!</h1>
        <p>Here you will be able to different matches</p>
        <p>between teams on different kinds of tournaments!</p>
        <p>I hope you enjoy it!</p>
        <div class="photo">
            <img src="https://dcassetcdn.com/design_img/3736149/51618/22544746/m6qkchqw72ha2ck4yj8yk9eg7y_image.jpg" alt="Tournament picture">
        </div>
    </div>

  

