@page
@using BLL.Enum
@model Tournament_Web_Application.Pages.Teams.CreateModel
@{
    ViewData["Title"] = "Create Team";
}
<div class="content">
    <form class="form" method="post">
        <div class="form-info">
            <h3>Create a new team</h3>
            <br />
        </div>
        <div class="form-row">
            <div class="input-wrapper">
                <label for="">Team Name</label>
                <input asp-for="TeamDTO.Name">
                <span asp-validation-for="TeamDTO.Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-footer">
            <input type="submit" value="Save">
            <a asp-page="/Teams/Team" class="back-btn">Go Back</a>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    }
